.container {
    width: 100%;
    padding: 1rem;
}

.moviesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2rem 0;
    gap: 1rem;
}

.title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.title svg {
    color: var(--GOLD1);
}

.queryText {
    color: var(--GOLD1);
}

@media (max-width: 820px) {
    .title {
        font-size: 1.25rem;
    }

    .moviesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}